.ballon {
  display: none;

  .speech-bubble {
    background: #4dabf1;
    border-radius: .4em;
    position: absolute;
    left: 173px;
    z-index: 1;
    width: 140px;
    top: 22px;
    span {
      display: inline-block;
      padding: 10px;
      margin: 0;
      color: #fff;
      font-weight: 600;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 43px solid transparent;
      border-top-color: #4dabf1;
      border-bottom: 0;
      border-left: 0;
      margin-left: -17.5px;
      margin-bottom: -22px;
      z-index: -1;
    }
  }
}


